h1 {
    color: black;
    background: #1DA1F2;
    margin: 0px;
    padding: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
}

img {
width: 100px;

}

body {
    margin: 0px;
}

/* hover is called a psudoclass */
li:hover {
    background: #064579;
}

li {
    background: #1DA1F2;
    display: inline-block;
    border-radius: 10px;
    /* inline-block makes the list look different */
    width: 19%;
    text-align: center;
    font-size: 30px;

}

ul {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

@media only screen and (max-width: 600px) {
    body {
      font-size: large;
    }
  }

a {
   color: black;
   text-decoration: none;
}

table {
    font-size: large;
    border: 1px solid;
    width: 95%;

}
    
th {
    height: 70px;
    background-color: #1DA1F2;
    color: whitesmoke;

}

table, th, td {
    border: 1px solid;
    color: black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #064579;
} 

h4 {
    color: black
}

h2 {
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;

}

th, td {
    padding: 15px;
    text-align: left;
}

ol {
    margin-left: auto;
    margin-right: auto;

}

.createuser {
    margin-left: auto;
    margin-right: auto;
}

.login {
    margin-left: auto;
    margin-right: auto;
}

.createmessage {
    margin-left: auto;
    margin-right: auto;
}

h3 {
    margin-left: 100px;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.search {
    margin-left: 100px;
    font-family: 'Courier New', Courier, monospace;
}

.search_messages {
    margin-left: auto;
    margin-right: auto;
}

.json_table {
    margin-left: auto;
    margin-right: auto;
}

.th_json {
    height: 25px;
}

